/*Tailwind CSS*/
/* eslint-disable */
/* postcss config file comment */
@tailwind base;
@tailwind components;
@tailwind utilities;
*
{
  margin: 0;
  padding: 0;
  color: white;
  font-family: arial;
}
body
{
  padding: 100px;
  background-color: rgb(14, 0, 14);
}
section
{
  margin-bottom: 30px;
}
.navbar
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background-color: rgba(160, 0, 160, 0.05);;
  justify-content: space-between;
  backdrop-filter: blur(50px);
  padding: 10px;
}
.divBouttonNav
{
  justify-content: space-between;
}
.bouttonNav
{
  color: white;
  margin:25px;
}
.pdp
{
  width: 200px;
  height: 200px;
  border: 3px solid rgb(160, 0, 160);
  border-radius: 100%;
  margin: 50px;
  box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.329), 0px 0px 80px 0px rgb(131, 0, 131);

}
.containerDroit
{
  align-content: center;
}
.nom
{
  font-size: 25px;
  color:rgb(160, 0, 160);
  margin: 0;
  text-shadow: 2px 2px 0px 2px white;
}
.profession, .nom, .salutation
{
  margin: 10px;
}
.description
{
  font-size: 40px;
  max-width: 600px;
}
.titre
{
  font-size: 30px;
  margin: 20px;
}
.souligne
{
  color: rgb(160, 0, 160);
}
.paragraphe
{
  max-width: 700px;
  line-height: 2;
  font-size: 18px;
}
.boutton
{
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(160, 0, 160);
  transition: 0.25s;
  color: white;
}
.boutton:hover
{
  background-color: rgb(160, 0, 160);
  transition: 0.25s;
  /* color: rgb(160, 0, 160); */
  transform:scale(1.05)
}
.deco1
{
  background-color: rgb(160, 0, 160);
  width:100px;
  height:200px;
  border-radius:10000px 0px 0px 10000px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter:blur(50px);
  box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.329), 0px 0px 80px 100px rgb(160, 0, 160);
}

/*Card*/
.containerCard
{
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin:20px;
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


/*Icon*/
.tech-icon {
  font-size: 50px;
}

.fa-html5 {
  color: #e34f26;         /* couleur HTML5 */
}

.fa-css3-alt {
  color: #264de4;         /* couleur CSS3 */
}
.fa-js
{
  color: #f7df1e;
}
.fa-php
{
  color: #777bb4;;
}
.fa-python
{
  color: #3776AB;
}
.fa-database
{
  color: #4479A1;
}
.divLogo {
  display: flex;               /* active Flexbox */
  justify-content: center;     /* centre horizontalement */
  align-items: center;         /* centre verticalement si le conteneur a une hauteur */
  gap: 10px;                   /* espace égal entre les icônes */
  flex-wrap: wrap;             /* permet aux icônes de passer à la ligne si trop */
  margin: 20px 0;              /* un peu d’espace autour */
}

/*Fond*/
