/*******************************Initialisation**********************************/
:root {
    --bleu : rgb(25, 93, 252);
    --violet: rgb(152, 19, 251);
    --rouge: rgb(220, 8, 134);
    --gris: rgb(113, 113, 130);
    --noir: black;
    --blanc: white;
    --bleu-bordure: rgba(0, 0, 255, 0.295);
    --c:  ;

    --bleu-indice : 25, 93, 252;
    --violet-indice: 152, 19, 251;
    --rouge-indice: 220, 8, 134;
}
*
{
    transition: 0.5s;
}


/* Composant invisible au départ */
.fade-in {
  opacity: 0;               /* invisible au départ */
  transform: translateY(20px); /* léger décalage vers le bas */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}


/*********Navigation**********/
.nav
{
    position: fixed;
    top: 0;
    display:flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    z-index: 100;
    box-shadow: 0px 1px 5px 0px rgba(var(--rouge-indice),0.1);
    width: 100%;
}
.gardemarge
{
    height: 75px;
}
/************Burgger***********/
.containerburgger
{
    display: none;
}
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: linear-gradient(90Deg, var(--bleu), var(--rouge));
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.btnnav
{
    width: fit-content;
    border: none;
    background: none;
    margin: 10px;
    padding: 10px;
    transition: 0.15s;
}
.active{
    background: linear-gradient(90Deg, var(--bleu), var(--violet));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-weight: 100;
    font-size: 20px;
}
p{ all: unset; display: block;}
.soustitre
{
    font-size: 25px;
    color: var(--noir);
    text-align: center;
    margin-top: 50px;
}
.ligne
{
    width:100px;
    padding:2px;
    background: linear-gradient(90Deg, var(--bleu), var(--rouge));
    border-radius: 100px;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 10px;
}
*
{
    font-family: var(--font-inter), sans-serif;
}

/************************************Profil*************************************/
.containerprofil
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 5%;
    padding-top:5px;
    position: relative;
    overflow: hidden;
}
.cpgauche
{
    width: 50%;
    justify-content: left;
}
.cbienvenue
{
    padding:10px 20px 10px 20px;
    border-radius: 100px;
    border: 1px solid var(--bleu-bordure);
    background-color: rgba(0, 0, 0, 0.05);
    width: fit-content;
}
.bienvenue
{
    background: linear-gradient(90Deg, var(--bleu), var(--violet));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.daniel
{
    background: linear-gradient(90Deg, var(--bleu), var(--rouge));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pnoir, .pgris
{
    margin-bottom: 10px;
    margin-top: 10px;
}
.pnoir
{
    color: var(--noir);
}
.pgris
{
    color: var(--gris);
}
.bprofil
{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition:0.1s;
    width: 201px;
}
.bprofil:hover
{
    transform:scale(1.02);
}
.bprofil:active
{
    transform:scale(0.98);
}
.contactprofil
{
    background: linear-gradient(90Deg, var(--bleu), var(--violet));
    color: var(--blanc);
    border: none;
}
.downloadprofil
{
    background-color: var(--blanc);
    border: 1px solid var(--bleu);
    color: var(--noir);
}
.cpdroit
{
    width: 50%;
    justify-content: right;
}
.pdpprofil
{
    width:300px;
    height: 300px;
    border-radius: 100%;
    float: right;
    border: 5px solid var(--blanc);
    box-shadow: 30px 30px 30px 0px rgba(var(--bleu-indice),0.1),
        -30px 30px 30px 0px rgba(var(--violet-indice), 0.1),
        15px -30px 30px 0px rgba(var(--rouge-indice),0.1);
    background-image: url(../img/pdp.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: pdp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*Déco*/
.decorouge
{
    background-color: var(--rouge);
    left: 50%;
}
.decobleu
{
    background-color: var(--bleu);
    left: 25%;
    top: 50vh;
}
.decoviolet
{
    background-color: var(--violet);
    left: 75%;
    top: 50vh;
}
.decoprofil
{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(100px);
    opacity: 2%;
    transform: translateX(-50%) translateY(-50%);
}
/******************************Statistique*******************************************************/
.csdroit
{
    display: flex;
    flex-wrap: wrap;
}
.statcard
{
    transition: 0.5s;
}
.statcard:hover
{
    box-shadow: 5px 5px 10px 0px rgba(128, 128, 128, 0.253);
    transform: scale(1.02);
    transition: 0.5s;
}
/**********************************Projet**************************************/
.intropro
{
    max-width: 500px;
    transform: translateX(-50%);
    margin-left: 50%;
    text-align: center;
}
.containerprojet
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardprojet
{
    transition: 0.5s;
}
.cardprojet:hover
{
    box-shadow: 5px 5px 10px 0px rgba(128, 128, 128, 0.253);
    transform: scale(1.02);
    transition: 0.5s;
}
/********************Concact*********************/
.cardcontact
{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(128, 128, 128, 0.253);
    text-align: center;
    backdrop-filter: blur(3px);
    width: 300px;
}
.arg
{
    margin: 10px 100px 10px 100px;
    border-radius: 20px;
    border: 2px solid rgba(128, 128, 128, 0.253);
    padding: 20px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.1);
}
.cdroit
{
    position: absolute;
    width: 100%;
    left: 0;
    right:0;
    background-color: rgba(128, 128, 128, 0.1);
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.253);
    padding: 50px 5px 50px 5px;
    backdrop-filter: blur(2px);
}

/*Responsive*/
@media screen and (max-width: 830px) {
    .nav
    {
        display: none;
    }
    .containerburgger
    {
        display: block;
        padding: 20px;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        z-index: 100;
        backdrop-filter: blur(10px);
        box-shadow: 0px 1px 5px 0px rgba(var(--rouge-indice),0.1);
    }
    .gardemarge
    {
        height: 50px;
    }
    .burgeractive
    {
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 100;
        width: 70%;
        height: 100vh;
        align-items: center;
        background-color: rgba(var(--violet-indice), 0.1);
        backdrop-filter: blur(10px);
    }
    .containerprofil
    {
        display: block;
    }
    .cpgauche, .cpdroit
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-right: 10px;
    }
    .csdroit
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .pnoir, .pgris
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .pdpprofil
    {
        width: 200px;
        height: 200px;
    }
}
/*Animation*/
@keyframes pdp {
    
    0%, 100%{transform: scale(1)}
    50% {transform: scale(1.05)}
}

